__pycache__
.vscode
temp
.ipynb_checkpoints
*.pyc
Animations
*.mp4
.pytest_cache
*.gif
*.DS_Store
*.avi
chaoseverywhere.egg-info
anim_tests
*.prof
*.dat
_build
*_auto_scripts*
sparse_matrix__histo

*minted*
*.aux
*.bcf
*.log
*.vrb
*.nav
*.out
*chaoseverywhere.pdf
animate_connection.pdf
*.xml
*.snm
*.gz
*.toc
les_3-*